.slider {
    margin-bottom: 70px;
}
.list {
    bottom: 15px;
}
.item {
    position: relative;
    user-select: none;
}
.inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 480px;
    height: 100%;
}
.title {
    margin-bottom: 8px;
    text-transform: capitalize;
    line-height: 48px;
    font-size: 48px;
    font-weight: 600;
}
.subTitle {
    margin-bottom: 18px;
    text-transform: capitalize;
    line-height: 36px;
    font-size: 36px;
    font-weight: 300;
}
.text {
    margin-bottom: 40px;
    max-width: 420px;
    line-height: 22px;
    font-size: 16px;
}