.section {
    padding: 30px 0;
    background-color: var(--color-primary);
}
.copyright {
    display: flex;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text {
    color: var(--color-white);
}
.link {
    color: var(--color-white);
}
.link:hover {
    color: var(--color-dark);
}
.img {
    width: 60px;
    height: 36px;
}
.img:not(:last-child) {
    margin-right: 12px;
}