/* slider settings start */
.slider {
    position: relative;
}
.slider__container {
    margin: 0 -10px;
}
.slide {
    padding-right: 10px;
    padding-left: 10px;
}
/* slider settings end */

.section {
	padding-top: 65px;
}
.header {
    text-align: center;
}
.desc {
    margin-bottom: 2px;
	line-height: 24px;
	font-size: 15px;
	font-family: 'Playfair Display', serif;
	font-style: italic;
}
.title {
    margin-bottom: 30px;
    line-height: 35px;
    font-size: 32px;
    font-weight: 500;
}