.btn__group button {
    opacity: 0;
    transition: var(--transition-default);
}
.btn__group.active button {
    opacity: 1;
}
.btn__group button:first-child {
    top: 50%;
    left: -40px;
    transform: translateY(-50%) scale(-1) translateX(-35px);
}
.btn__group button:last-child  {
    top: 50%;
    right: -40px;
    transform: translateY(-50%) translateX(-35px);
}
.btn__group.active button:first-child {
    transform: translateY(-50%) scale(-1) translateX(0);
}
.btn__group.active button:last-child  {
    transform: translateY(-50%) translateX(0);
}