.heading {
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 10px 10px 0px 0px;
    color: var(--color-white);
    background-color: var(--color-primary);
}
.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 30px;
    background-color: var(--color-white);
}
.tags {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px 0;
}
.content {
    text-align: center;   
}
.img {
    margin-bottom: 16px;
    width: 326px;
    height: 326px;
}
.name {
    margin-bottom: 15px;
    line-height: 15px;
    font-size: 16px;
    color: var(--color-dark);
}
.category {
    font-size: 12px;
    line-height: 12px;
    color: var(--color-dark);
    margin-bottom: 12px;
}
.newprice {
    font-weight: 500;
    line-height: 16px;
    font-size: 17px;
    color: var(--color-primary);
}
.price {
    margin-left: 10px;
    text-decoration-line: line-through;
    line-height: 16px;
    font-size: 15px;
    color: var(--color-dark);
}
