.section {
    margin-bottom: 65px;
    padding: 70px 0;
    background-color: var(--color-light);
}
.wrapper {
    display: flex;
    gap: 25px;
}
.left {
    width: 32.8251%;
}
.right {
    width: 65.7020%;
}