/* slider settings start */
.slider {
    position: relative;
}
.slider__container {
    margin: 0 -10px;
}
.slide {
    padding-right: 10px;
    padding-left: 10px;
}
/* slider settings end */

.section {
    margin-bottom: 35px; /* product item mb30px */
}
.block {
   text-align: center;
}
.above_heading {
    margin-bottom: 2px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    line-height: 24px;
    font-size: 15px;
    color: var(--color-dark);
}
.heading {
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 35px;
    font-size: 32px;
    color: var(--color-dark);
}